<div>
    <h1>Help center</h1>
    <h3>Perguntas frequentes</h3>
    <ul>
        <li><a>Não consigo acessar minha conta</a></li>

        <li><a>Não sei qual é a minha senha</a></li>
        
        <li><a>Não consegui achar meu pedido</a></li>

        <li><a href="">Não recebi confirmação no email</a></li>
    </ul>

    <h3>Entre em contato para mais informações</h3>
    <p>Email: <a href="mailto:Achei12@gmail.com">Achei12@gmail.com</a></p>
    <p>Telefone: 3456-7890</p>

</div>