<div class="page-container">

    <form method="post" action="" >
        <label for="fname">Nome do item:</label><br>
        <input type="text" id="fname" name="fname" required><br>

        <label for="lname">Data:</label><br>
        <input type="date" id="fname" name="fname" required><br>

        <label for="lname">Categoria:</label><br>
        <select id="lname" name="lname" required>
            <option value="">Selecionar</option>
            <option value="1">Eletrônicos</option>
            <option value="2">Móveis</option>
            <option value="3">Papelaria</option>
        </select> <br>

        <label for="lname">Desc:</label><br>
        <textarea name="" id=""></textarea><br>

        <label for="lname">Adiconar:</label><br>
        <input type="file" id="fname" name="fname" required><br>


        <label for="lname">Nome:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        <label for="lname">Matricula:</label><br>
        <input type="text" id="fname" name="fname" required><br>
        <label for="lname">Email:</label><br>
        <input type="text" id="fname" name="fname" required><br>

        <input type="button" value="Cancelar">
        <input type="submit" value="Cadastrar">

    </form>

</div>