<div id="form-page-container">
    
    <div id="login-content">
        <img src="/icons/acenando.png">

        <div id="form container">
            <form id="login-form" method="post" action="/login">
                <h2>Entrar na minha conta</h2>
                <p>Você é um administrador? Clique aqui</p>
                <label for="username">Nome de usuário</label><br/>
                <input type="text" id="username" name="username" required><br/>
                <label for="email">Email</label><br/>
                <input type="email" id="email" name="email" required><br/>
                <label for="password">Password</label><br/>
                <input type="password" id="password" name="password" required><br>
                <a>Esqueci minha senha</a><br/>

                <input type="submit" value="Entrar">
            </form>
        </div>

    </div>

</div>