<div class="search-page-container">
    <div>
        <div>
            <form>
                <label for="">Categoria:</label><br>
                <select id="category-select">
                    <option value="">Todos</option>
                    <option value="1">Categoría 1</option>
                    <option value="2">Categoría 2</option>
                    <option value="3">Categoría 3</option>
                </select><br>

                <label for="">Perdido entre:</label><br>
                <input type="date" id="start-date" name="start-date"><br>
                <input type="date" id="end-date"><br>

                <label for="">Cor:</label><br>
                <select id="category-select">
                    <option value="">Preto</option>
                    <option value="1">Vermelho</option>
                    <option value="2">Azul</option>
                    <option value="3">Amarelo</option>
                    <option value="3">Verde</option>
                </select><br>

                <label for="">Cor:</label><br>
                <select id="category-select">
                    <option value="">Preto</option>
                    <option value="1">Vermelho</option>
                    <option value="2">Azul</option>
                    <option value="3">Amarelo</option>
                    <option value="3">Verde</option>
                </select><br>
            </form>
        </div>
    </div>

    <div>
        <div>
            <form>
                <input type="text">
                <input type="submit" value="Pesquisar">
            </form>
        </div>
    </div>
</div>