@import url("main.css");


.page-container2{
    background-color: rgb(255, 255, 255);
    box-sizing: border-box;
    margin: 20px;
    background-color: #ffffff;
    width: 50%;
    padding: 30px 20px;
}

form input[type="text"]{
    border: 1px solid rgb(165, 165, 165);
    background: #ececec;
    border-radius: 5px;
  
}
.dados{
    padding: 10px;
    margin: 5px;
    align-items: center;
    display: flex;
}

.button-form{
    width: 200px;
    height: 20px;
    border: none;
    border-radius: 5px; 
    color: white; 
    cursor: pointer; 
    background-color: #D25836; 
    margin-left: 10px;

}

