:root {
    /* Colors */
    --nav-bar-color: #ffffff;  
    --bg-color:#FEF5E2;
    --text-color: #D05836;

    /* Measures */
    --main-padding: 10px;
    --artwork-grid-gaps: 8px;
    --card-padding: 20px;
    --card-details-padding: calc(var(--card-padding) * 2);
    --card-border-radius: 10px;
    --border-radius-1: 8px;
    --border-radius-2: 6px;
    --border-radius-: 4px;
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    max-width: 100vw;
    min-height: 100vh;
    background-color: #ffe4c4;
}

* {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}
