<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/main.css">
    <link rel="stylesheet" href="./styles/index.css">
    <link rel="stylesheet" href="./styles/nav-bar.css">
    <link rel="stylesheet" href="./styles/search.css">
    <link rel="stylesheet" href="./styles/item_details.css">
    <link rel="stylesheet" href="./styles/item_register.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

    

    <title>{{{pageTitle}}}</title>
</head>
<body>
    <div class="nav-bar-container">
        <nav class="nav-bar">

                <ul class="header-links">
                    <li class="header-redirect">
                        <a href="/" >
                            <svg class="header-icon" viewBox="0 0 460 131" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M38.015 121.759C38.0408 123.486 37.2926 124.813 37.2926 124.813C37.0604 125.238 36.7637 125.612 36.4154 125.96C35.3577 127.004 33.6936 127.532 31.4104 127.532H6.59169C4.37297 127.532 2.70892 127.004 1.62536 125.96C0.541794 124.916 0 123.512 0 121.759C0 120.523 0.270897 119.453 0.812678 118.577C1.35446 117.701 2.24454 116.838 3.48289 115.987L5.10821 114.879C6.81095 113.745 8.13961 112.354 9.10708 110.679C10.0616 109.017 11.1065 106.117 12.2546 101.981L32.107 31.8372C33.0358 28.5001 33.3711 26.0778 33.1132 24.5831C32.8552 23.0885 31.7974 21.8516 29.927 20.8981C28.4822 20.1121 27.4632 19.1973 26.8698 18.1794C26.2764 17.1616 25.9797 15.9504 25.9797 14.5331C25.9797 12.7292 26.5215 11.3119 27.605 10.294C28.6886 9.27613 30.3655 8.7736 32.6488 8.7736C38.5051 10.7321 46.9673 12.8065 57.2482 12.8452C67.8645 12.8967 76.5717 10.7578 82.5313 8.7736C83.215 8.73494 85.8594 8.69632 87.5751 10.294C88.6586 11.3119 89.2004 12.7292 89.2004 14.5331C89.2004 16.0535 88.8779 17.3161 88.2329 18.3083C87.5879 19.3004 86.672 20.0992 85.4853 20.7306C84.1953 21.4135 83.4343 22.3283 83.2021 23.4879C82.9699 24.6476 83.2021 26.4772 83.9374 28.9639C84.3244 71.2257 95.9597 102.239 106.421 111.4C114.548 118.525 123.462 121.85 123.462 121.85C129.021 123.924 133.949 124.633 137.445 124.878C138.425 124.942 138.438 125.844 138.464 125.96C138.644 126.772 137.909 127.467 137.832 127.545C136.271 127.545 135.007 127.545 134.181 127.545C131.201 127.532 125.603 127.442 124.016 127.455C123.513 127.455 123.023 127.455 123.023 127.455C122.662 127.455 122.223 127.455 121.707 127.48C120.598 127.506 120.25 127.519 118.121 127.532C114.458 127.558 111.852 127.519 109.607 127.519H68.6514C66.3295 127.519 64.6267 126.991 63.569 125.947C62.5112 124.903 61.9823 123.499 61.9823 121.747C61.9823 120.329 62.3177 119.195 62.9885 118.306C63.6593 117.43 64.6655 116.657 66.007 115.974L68.4837 114.699C69.8252 114.016 70.3928 113.101 70.1864 111.941C69.9801 110.782 69.5157 108.901 68.7933 106.298L45.9869 23.591L49.2505 21.13L26.9859 99.7653C26.1603 102.651 25.7346 104.984 25.7088 106.762C25.683 108.54 26.1603 110.047 27.1407 111.258C28.121 112.47 29.6947 113.707 31.8748 114.943L34.0419 116.129C36.4541 117.417 37.9634 119.672 38.0021 121.721L38.015 121.759ZM24.9219 81.366H70.2251L70.3025 92.9107H24.7671L24.9219 81.366Z"/>
                                <path d="M183.044 62.5675C183.044 66.4973 181.561 69.8216 178.581 72.566C175.601 75.3104 171.641 76.6762 166.675 76.6762C161.709 76.6762 158.264 75.4006 155.852 72.8366C153.453 70.2854 152.24 67.0127 152.24 63.0313V60.5575C152.24 57.2074 151.544 54.5532 150.151 52.6205C148.757 50.6878 146.913 49.7086 144.643 49.7086C142.837 49.7086 141.134 50.3786 139.56 51.7186C137.986 53.0586 136.696 55.1201 135.716 57.8775C134.736 60.6348 134.245 64.1394 134.245 68.3785C134.245 74.3699 135.265 79.382 137.303 83.4149C139.341 87.4478 142.153 90.4757 145.713 92.5244C149.286 94.5602 153.337 95.578 157.89 95.578C161.193 95.578 164.185 95.1786 166.843 94.3798C169.5 93.5809 172.157 92.0219 174.789 89.6898C176.285 88.3498 177.42 87.4478 178.207 86.984C178.981 86.5201 179.729 86.2882 180.452 86.2882C181.484 86.2882 182.245 86.8036 182.735 87.8344C183.225 88.8651 183.47 90.1278 183.47 91.6353C183.47 96.2352 181.935 100.539 178.852 104.533C175.769 108.54 171.499 111.748 166.017 114.184C160.535 116.606 154.175 117.83 146.939 117.83C139.031 117.83 131.936 116.271 125.641 113.14C119.346 110.009 114.38 105.654 110.704 100.049C107.027 94.4442 105.196 87.8988 105.196 80.4128C105.196 72.4114 106.963 65.2475 110.51 58.9469C114.058 52.6463 119.063 47.6857 125.564 44.0651C132.053 40.4445 139.715 38.6406 148.564 38.6406C155.646 38.6406 161.76 39.7101 166.907 41.8618C172.054 44.0007 176.027 46.8868 178.813 50.4945C181.6 54.1151 183.006 58.1351 183.006 62.5804L183.044 62.5675Z" />
                                <path d="M222.53 9.457V103.206C222.53 105.268 222.685 106.724 222.994 107.548C223.304 108.373 223.846 108.991 224.62 109.404L226.168 110.254C227.871 111.233 228.722 112.651 228.722 114.519C228.722 117.83 226.735 119.479 222.749 119.479H188.385C186.321 119.479 184.812 119.067 183.883 118.242C182.954 117.418 182.49 116.284 182.49 114.828C182.49 113.797 182.748 112.895 183.264 112.122C183.78 111.349 184.631 110.705 185.818 110.19L187.521 109.416C188.295 109.056 188.836 108.45 189.146 107.6C189.456 106.749 189.61 105.293 189.61 103.219V26.8256C189.61 25.1763 189.391 24.0038 188.953 23.2952C188.514 22.5994 187.856 22.1227 186.979 21.865L185.276 21.3238C184.193 20.9631 183.406 20.4477 182.916 19.7777C182.425 19.1076 182.18 18.2572 182.18 17.2265C182.18 15.9895 182.516 15.0103 183.186 14.2759C183.857 13.5544 185.121 12.8328 186.992 12.1112C198.227 13.2064 202.768 10.8228 204.806 8.31028C205.748 7.15066 207.334 4.49641 210.611 3.19506C212.752 2.34467 214.661 2.49927 215.384 2.49927C217.706 2.49927 219.486 3.15639 220.698 4.47063C221.911 5.78487 222.517 7.447 222.517 9.4699L222.53 9.457ZM275.612 108.85C275.87 109.043 276.141 109.223 276.141 109.223C276.283 109.313 276.386 109.378 276.424 109.404L278.127 110.177C279.314 110.692 280.165 111.336 280.681 112.109C281.197 112.882 281.455 113.784 281.455 114.815C281.455 116.258 280.991 117.405 280.062 118.23C279.133 119.054 277.637 119.467 275.56 119.467H241.196C237.21 119.467 235.223 117.817 235.223 114.506C235.223 112.651 236.075 111.233 237.777 110.241L239.325 109.391C240.099 108.978 240.641 108.36 240.951 107.535C241.26 106.711 241.415 105.268 241.415 103.193V71.8963C241.415 68.5978 240.654 66.111 239.132 64.4618C237.61 62.8125 235.468 61.9879 232.734 61.9879C231.031 61.9879 229.238 62.3229 227.38 62.9929C225.523 63.6629 223.859 64.6421 222.414 65.9435L219.705 68.3401L215.048 63.3795L217.37 61.2148C224.659 54.2442 230.992 49.3738 236.371 46.6165C241.75 43.8591 246.691 42.4676 251.18 42.4676C255.669 42.4676 259.758 43.4726 263.164 45.4697C265.679 46.9515 267.279 48.6136 267.807 49.1934C267.833 49.2192 267.872 49.2707 267.924 49.3222C267.924 49.3222 270.039 51.693 271.045 55.0431C272.168 58.7281 266.917 70.1568 265.499 78.6607C262.545 96.5189 275.341 108.708 275.547 108.862L275.612 108.85Z" />
                                <path d="M355.176 68.5333C355.176 72.1539 354.196 74.9499 352.222 76.9341C350.261 78.9183 347.436 79.9105 343.773 79.9105C338.987 78.1968 332.254 76.3801 324.05 75.9935C312.608 75.4395 303.397 77.9134 297.773 79.9105V71.8576H318.477C321.315 71.8576 322.747 70.5175 322.747 67.8246C322.747 61.3179 321.999 56.6665 320.502 53.8834C319.006 51.1003 317.006 49.6959 314.53 49.6959C312.724 49.6959 311.086 50.3659 309.641 51.7059C308.196 53.0459 307.048 55.1074 306.184 57.8648C305.332 60.6221 304.907 64.1267 304.907 68.3658C304.907 77.7716 307.022 84.6521 311.266 89.0071C315.51 93.375 321.302 95.5525 328.642 95.5525C332.06 95.5525 335.156 95.166 337.955 94.3929C340.742 93.6198 343.489 92.0478 346.172 89.6642C347.669 88.3242 348.804 87.4223 349.591 86.9584C350.365 86.4946 351.113 86.2626 351.835 86.2626C352.867 86.2626 353.628 86.778 354.118 87.8088C354.609 88.8396 354.854 90.1023 354.854 91.6098C354.854 96.2096 353.293 100.513 350.158 104.507C347.024 108.515 342.689 111.723 337.13 114.158C331.57 116.58 325.094 117.804 317.703 117.804C309.796 117.804 302.675 116.245 296.367 113.114C290.059 109.996 285.067 105.628 281.391 100.023C277.714 94.4186 275.883 87.8732 275.883 80.3872C275.883 71.9735 277.56 64.6292 280.926 58.3801C284.28 52.1311 289.182 47.2736 295.619 43.8205C302.056 40.3674 309.821 38.6279 318.928 38.6279C326.939 38.6279 333.634 39.9164 339.013 42.5062C344.392 45.0832 348.43 48.6265 351.113 53.1232C353.796 57.62 355.15 62.761 355.15 68.5462L355.176 68.5333Z" />
                                <path d="M400.531 49.4641V103.232C400.531 105.293 400.686 106.762 400.995 107.613C401.305 108.463 401.847 109.069 402.621 109.429L404.323 110.203C405.51 110.718 406.361 111.362 406.89 112.135C407.406 112.908 407.664 113.81 407.664 114.841C407.664 116.284 407.2 117.431 406.271 118.255C405.342 119.08 403.846 119.492 401.769 119.492H366.399C364.335 119.492 362.825 119.08 361.897 118.255C360.968 117.431 360.504 116.297 360.504 114.841C360.504 113.81 360.762 112.908 361.278 112.135C361.794 111.362 362.645 110.718 363.832 110.203L365.534 109.429C366.308 109.069 366.85 108.463 367.16 107.613C367.469 106.762 367.624 105.306 367.624 103.232V66.8198C367.624 65.1705 367.405 63.998 366.966 63.2894C366.528 62.5936 365.87 62.1169 364.993 61.8592L363.29 61.318C362.206 60.9572 361.419 60.4419 360.929 59.7719C360.439 59.1019 360.194 58.2515 360.194 57.2207C360.194 55.9837 360.529 55.0045 361.2 54.2701C361.871 53.5485 363.135 52.827 365.006 52.1055C367.998 52.4791 376.628 53.1491 384.136 47.6989C386.135 46.2558 387.657 44.6452 388.818 43.1635C390.637 42.5192 392.159 42.4677 393.088 42.5064C394.3 42.5579 396.919 42.6223 398.673 44.4777C399.912 45.792 400.531 47.467 400.531 49.477V49.4641ZM382.368 35.6646C376.576 35.6646 371.997 34.17 368.643 31.1807C365.276 28.1915 363.599 24.107 363.599 18.9403C363.599 13.7735 365.276 9.80503 368.643 6.86732C371.997 3.92961 376.576 2.47363 382.368 2.47363C388.16 2.47363 392.74 3.94249 396.093 6.86732C399.447 9.80503 401.137 13.825 401.137 18.9403C401.137 24.0555 399.46 28.1915 396.093 31.1807C392.74 34.17 388.16 35.6646 382.368 35.6646Z"/>
                                <path d="M455.032 4.99927C451.832 1.66213 446.84 0 440.068 0H440.081C433.347 0 428.368 1.67502 425.143 4.99927C421.906 8.3364 420.293 12.7945 420.293 18.3865C420.293 20.0228 420.435 21.8396 420.719 23.8109C421.003 25.7823 421.428 27.9598 421.996 30.3306L433.322 75.8908C434.044 78.6482 434.895 80.6968 435.876 82.024C436.856 83.3511 438.262 84.0082 440.068 84.0082C441.874 84.0082 443.293 83.3511 444.299 82.024C445.305 80.7097 446.144 78.661 446.815 75.8908L458.14 30.3306C458.708 27.9598 459.134 25.7823 459.417 23.8109C459.701 21.8267 459.843 20.0228 459.843 18.3865C459.843 12.7945 458.244 8.3364 455.032 4.99927Z"/>
                                <path fill-rule="evenodd" clip-rule="evenodd" d="M430.677 127.249C433.476 129.143 436.572 130.084 439.991 130.084C443.512 130.084 446.673 129.143 449.459 127.249C452.245 125.368 454.464 122.843 456.089 119.673C457.715 116.516 458.527 113.218 458.527 109.43C458.527 105.642 457.715 102.214 456.089 99.1348C454.464 96.0554 452.258 93.5944 449.459 91.7261C446.66 89.8579 443.409 88.9302 439.991 88.9302C436.572 88.9302 433.476 89.8579 430.677 91.7261C427.891 93.5944 425.672 96.0554 424.047 99.1348C422.421 102.214 421.609 105.758 421.609 109.43C421.609 113.102 422.421 116.516 424.047 119.673C425.672 122.83 427.891 125.355 430.677 127.249ZM442.712 109.017C442.712 116.539 438.618 122.636 433.567 122.636C428.516 122.636 424.421 116.539 424.421 109.017C424.421 101.495 428.516 95.3979 433.567 95.3979C438.618 95.3979 442.712 101.495 442.712 109.017Z" />
                            </svg>
                        </a>
                    </li>

                    <li>
                        <a class="header-link" href="/help">Ajuda</a>
                    </li>

                    <li>
                        <a class="enter-btn-link" href="#">Entrar</a>
                    </li>

                    {{!-- <li>
                        <a class="header-link" href="#">Entrar</a>
                    </li>

                    <li>
                        <a class="header-link" href="#">Entrar</a>
                    </li> --}}
                </ul>

                <ul id="user-details">

                </ul>

        </nav>
    </div>

    {{{body}}}

</body>
</html>