@import url("main.css");

.page-container{
    box-sizing: border-box;
    margin: 10px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
}

.page-container img {
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}

.page-container h1, .alert p{
    color: var(--text-color);
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
}

.index-menu-btns{
    display: flex;
    flex-direction: row;
    gap: 10px;
}