@import url("main.css");

body {
    background-color: var(--bg-color);
}

.nav-bar-container{
    background-color: var(--nav-bar-color);
    border-bottom: 2px solid #dfdfdf;
    /* position: sticky;
    position: -webkit-sticky; */
    top: 0;
    z-index: 10;
}

.nav-bar{
    box-sizing: border-box;
    width: 100vw;
    height: 80px;
    padding: var(--main-padding);
    display: inline;
    justify-content: flex-start;
}

.nav-bar ul{
    width: 100;
    list-style-type: none;
    display: flex;
    padding: 0;
}

.header-links {
    display: flex;
    align-items: center;
}

.header-links li {
    margin: 0 60px 0 0;
}  

.header-links li:last-child{
    margin-right: 10px;
}

.header-links li:nth-child(1){
    margin-left: 10px;
    margin-right: auto;
}

.header-link {
    color: black;
    font-size: 18px;
    text-decoration: none;
}

.enter-btn-link {
    background-color: var(--text-color);
    font-size: 18px;
    color: white;
    padding: var(--main-padding) calc(7*var(--main-padding));
    border-radius: var(--border-radius-1);
    text-decoration: none;
}

.header-icon{
    height: 40px;
    width: auto;
}

.header-icon path {
    fill: var(--text-color);
}

/* #nav-bar ul li a:hover {
    border-bottom: var(--main-text-color) 3px solid;
} */